<!DOCTYPE html>
<html>
  <head>
    <title>TodoApp</title>
    
    <style>
      body {
        overflow-x: hidden;

           /*background: url(<% @bgimg %>) center center no-repeat;*/
          background-image: url( <%= asset_path Bgimage.find_by(id:1).imgname %> );
          background-size: cover;
          background-repeat: no-repeat;
          background-position: center;
          box-shadow: inset 0 0 100px #000;
      }
    </style>

    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    
  </head>

  <body>
  
    	 <%= yield %>
       
    <script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
        $("#menuButt").toggleClass("fa fa-list fa-2x").toggleClass("fa fa-times fa-2x");

    });
    $(".alert").fadeTo(2000, 500).fadeOut(500, function(){
               $(".alert").fadeOut(500);
                }); 

    </script>
  </body>
</html>
